LOG_LEVEL="info"
API_URL="http://localhost:80"
API_KEY="xxxxxxxxxxxxxxxxxxx"
API_DEFAULT_ENDPOINT="record"
STARBOUND_LOG_FILE_PATH="replace with the absolute path of your starbound.log file"
EVENTS_PREFIX="REDSHIFT_EVENT"